
{% extends  "base.html" %}
{% load static %}

    {% block pad-1 %}
    <h2>קצת על בא - ל - גן</h2>
    <div class = "about">
        <b>
            <p style = "color:white">בעקבות משבר הקורונה, ואולי אף כלקח לעתיד לבוא – נדרשים אנו לפתח מערכת אשר תקל על תקשורת במערכת החינוך בדגש על הגיל הרך.
            מטרת המערכת היא לענות על הצורך של הגנים לדאוג לבסיס לימודי והתפתחות ילדינו ולייצר עבורם את המערכת הזו שתקל על התמודדות עם המצב ותצמצם כמה שאפשר את הקשיים הנובעים מלימוד מרחוק שמונעים מהילדים לקבל את היחס והמגע שהיו רגילים לקבל .
            המערכת מאפשרת לגננת להעלות תכנים בנושאים מגוונים כמו חגים, ימים מיוחדים, עונות השנה ועוד.
            הגננת יכולה להעלות  שירים, משחקים ועבודות הגשה, זאת על מנת לבדוק את התקדמות הילד.
            מערכת זו מפשר גם לילדים ולהוריהם להתחבר לקחת חלק בהתקדמות ילידהם ולהתקדם לעתיד טוב יותר .</p>
        </b>
    </div>
    {% endblock pad-1 %}
 





