
 {% extends  "base.html" %}
<head>
    <title>ganenet</title>
</head>

{% block pad-1 %}
    <h2>דף גננת</h2>
	<p></p>
    <a href="#" onclick="viewSubmissions()" class="myButton">צפייה בהגשות</a>
    <script>
    function viewSubmissions() {
    location.replace("http://127.0.0.1:8000/ganenetPage/viewSubmission/")
    }
    </script>

    <a href="#" onclick="logout()" class="myButton">התנתק</a>
	<script>
	function logout() {
	location.replace("http://127.0.0.1:8000/accounts/login/")
	}
    </script>

{% endblock pad-1 %}%>
