{% extends  "base.html" %}
{% load static %}

{% block pad-1 %}
	{% for message in messages %}
		<div class="container-fluid p-0">
  		<div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    	{{ message }}
  		</div>
		</div>
	{% endfor %}
<br>
	<h2>דף ילדים</h2>
	<p></p>
	
	<a href="#" onclick="Mettings()" class="myButton">פגישות</a>
	<script>
	function Mettings() {
	location.replace("http://127.0.0.1:8000/kidsPage/Meetings/")
	}
    </script>

	<a href="#" onclick="Subject()" class="myButton">נושאי לימוד</a>
	<script>
	function Subject() {
	location.replace("http://127.0.0.1:8000/kidsPage/subject/")
	}
    </script>

	<a href="#" onclick="reviews()" class="myButton">משובים מהגננת</a>
    <script>
    function reviews() {
    location.replace("http://127.0.0.1:8000/kidsPage/Reviewskids")
    }
    </script>

	<a href="#" onclick="myFunction()" class="myButton">התנתק</a>
	<script>
	function myFunction() {
	location.replace("http://127.0.0.1:8000/logout")
	}
    </script>
 {% endblock pad-1 %}