<html>
<head>
    <title>kid</title>
</head>
<body>
    <h1>Kid Page</h1>
	<p></p>
	<p></p>
	<button type="button" onclick="Mettings()">Mettings</button>
	<script>
	function Mettings() {
	location.replace("http://127.0.0.1:8000/kidsPage/Meetings/")
	}
</script>

	<p></p>
	<button type="button" onclick="Subject()">Subjects</button>
	<script>
	function Subject() {
	location.replace("http://127.0.0.1:8000/kidsPage/subject/")
	}
</script>

	<p></p>
	<button type="button" onclick="myFunction()">logout</button>
	<script>
	function myFunction() {
	location.replace("http://127.0.0.1:8000/accounts/login/")
	}
</script>

</body>
</html>