<html>
<head>
    <title>parent</title>
</head>

<body>
    <h1>Parent Page</h1>
	<p></p>
	

	<button type="button" onclick="polls()">Polls</button>
    <script>
    function polls() {
    location.replace("http://127.0.0.1:8000/parentsPage/polls")
    }
    </script>
    <p></p>
	

	<button type="button" onclick="mysubmissions()">Submit a task</button>
    <script>
    function mysubmissions() {
    location.replace("http://127.0.0.1:8000/parentsPage/upload_file")
    }
    </script>

    <p></p>

	<button type="button" onclick="myFunction()">logout</button>
	<script>
	function myFunction() {
	location.replace("http://127.0.0.1:8000/accounts/login/")
	}
    </script>

    <br><br>
    <table>
    <tr>
        <th>News-Design required</th>
    </tr>
    <tr>
        <th>Title</th>
        <th>content</th>
        <th>Date</th>
    </tr>
    <tr>
        {% for q in news %}
        <td>{{q.title}}</td>
        <td>{{q.content}}</td>
        <td>{{q.ticket_date}}</td>
        {% endfor %}
    </tr>
    </table>

</body>

</html>