<html>
<head>
    <title>parent</title>
</head>

<body>
    <h1>Parent Page</h1>
    <p></p>
	

	<button type="button" onclick="mysubmissions()">Submit a task</button>
    <script>
    function mysubmissions() {
    location.replace("http://127.0.0.1:8000/parentsPage/upload_file")
    }
</script>

    <p></p>

	<button type="button" onclick="myFunction()">logout</button>
	<script>
	function myFunction() {
	location.replace("http://127.0.0.1:8000/accounts/login/")
	}
    


</script>
</body>

</html>