{% extends  "base.html" %}
<html>
<head>
    <title>parent</title>
</head>
{% for message in messages %}
		<div class="container-fluid p-0">
  		<div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    	{{ message }}
  		</div>
		</div>
	{% endfor %}
<br>
{% block pad-1 %}
    <h2>דף הורים</h2>
	<p></p>
	
    <a href="#" onclick="polls()" class="myButton">סקרים</a>
    <script>
    function polls() {
    location.replace("http://127.0.0.1:8000/parentsPage/polls")
    }
    </script>
	
    <a href="#" onclick="mysubmissions()" class="myButton">העלה עבודה</a>
    <script>
    function mysubmissions() {
    location.replace("http://127.0.0.1:8000/parentsPage/upload_file")
    }
    </script>
    
    <a href="#" onclick="news()" class="myButton">חדשות</a>
	<script>
	function news() {
	location.replace("http://127.0.0.1:8000/parentsPage/news/")
	}
    </script>
	
	<a href="#" onclick="bug()" class="myButton">דווח על תקלה</a>
    <script>
    function bug() {
    location.replace("http://127.0.0.1:8000/parentsPage/bugReport")
    }
    </script>

    <a href="#" onclick="Message()" class="myButton">הודעה לגננת</a>
    <script>
    function Message() {
    location.replace("http://127.0.0.1:8000/parentsPage/Message")
    }
    </script>
	
	<a href="#" onclick="kidInfo()" class="myButton">עריכת פרטי הילד</a>
    <script>
    function kidInfo() {
    location.replace("http://127.0.0.1:8000/parentsPage/kidInfo")
    }
    </script>

    <a href="#" onclick="logout()" class="myButton">התנתק</a>
	<script>
	function logout() {
	location.replace("http://127.0.0.1:8000/accounts/login/")
	}
    </script>

    

{% endblock pad-1 %}

</html>