{% extends  "base.html" %}
{% load static %}

{% block pad-1 %}
<head>
	{% for subject in subject_id %}
    <title>{{ subject.nameSubject }}</title>
</head>
<body>
	<h1>{{ subject.nameSubject }} {{ subject.id }}</h1>
    <h3>Songs:</h3>
    <a href= {{subject.songs}}>Click Me!</a>
	<h3>Games:</h3>
    <a href= {{subject.selfTasks}}>Click Me!</a>
	<h3>Submissions:</h3>
	<a href={{ subject.submissions.url }} download = {{ subject.nameSubject}} >Download PDF</a>
	<h3>Mashov</h3>
	{% for m in mashov %}
	{% if m.subject == subject %}
	<a href= "/kidsPage/{{ m.id }}/vote">vote</a>
	<br>
	{% endif %}
	{% endfor %}
	{% endfor %}
</body>
{% endblock pad-1 %}