{% extends  "base.html" %}

{% block title %}
<title>trackinglog</title>
{% endblock title %}

{% block pad-1 %}
<h1>מעקב ילדי הגן</h1>
<table class="blueTable">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Last Login</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>
        {{user.first_name}}
        </td>
        <td>
        {{user.last_name}}
        </td>
        <td>
        {{user.last_login}}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock pad-1 %}