{% extends  "base.html" %}
{% load static %}

{% block pad-1 %}
<h2>צור קשר</h2>
    <table class="blueTable" style="color: red;font-size: 20px;">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Mail</th>
    </tr>
    <tr >
        <td style="font-size: 20px;">אושרי אברהם</td>
        <td style="font-size: 20px;">0504995388</td>
        <td style="font-size: 20px;">oshreav@ac.sce.ac.il</td>
    </tr>
    <tr>
        <td style="font-size: 20px;">מיכל בינדר</td>
        <td style="font-size: 20px;">0502555092</td>
        <td style="font-size: 20px;">michaab2@ac.sce.ac.il</td>
    </tr>
    <tr>
        <td style="font-size: 20px;">מרינה חטמלסקי</td>
        <td style="font-size: 20px;">0507990221</td>
        <td style="font-size: 20px;">marinha@ac.sce.ac.il</td>
    </tr>
    <tr>
        <td style="font-size: 20px;">מלי ברטל</td>
        <td style="font-size: 20px;">0505548229</td>
        <td style="font-size: 20px;">maliba@ac.sce.ac.il</td>
    </tr>
    </table>
{% endblock pad-1 %}